button {
  background-color: cornflowerblue;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #5a7fc4;
}